.sidebaroption {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}
.sidebaroption:hover {
  color: white;
}
.sidebaroption__Icons {
  padding: 0px 10px;
}
.sidebaroption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
